body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul, ol {
    margin-bottom: 20px;
}

.comentario {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nuevo-comentario {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #555;
}

.perfil-container {
    max-width: 800px;
    margin: 20px auto;
}

.perfil-section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil-heading {
    margin-bottom: 20px;
}

.perfil-subheading {
    margin-top: 20px;
}

.perfil-label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.perfil-info {
    margin: 10px 0;
}

.perfil-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.perfil-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.perfil-button:hover {
    background-color: #555;
}
